.image-detail-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffaddf; /* Light pink header */
    padding: 1em;
  }
  
  .app-header h1 {
    font-size: 1.5em;
    color: #ffffff;
  }
  
  .image-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 80vh; /* Adjust as needed */
    margin-bottom: 1em;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .action-buttons button {
    background-color: #50bfa0; /* Pastel green button */
    border: none;
    border-radius: 8px;
    padding: 0.5em 1em;
    color: #ffffff; /* White text */
    cursor: pointer;
  }
  
  /* You can add more styling as needed */  