.image-detail-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffaddf; /* Light pink header */
    padding: 1em;
  }
  
  .favorite-btn,
  .delete-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .image-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* This will ensure that the image is fully visible */
  }  